
@media (min-width: 768px) { 
    .w-40{
        width: 40%;
    }
    .w-5 {
        width: 14%;
    }
    .w-80 {
        width: 50%;
    }
    section.masthead .masthead-content {
        margin-right: 20%;
        margin-left: 0px;
    }
    .border-w{
        border-left: none!important;
    }
    .padding-text{
        padding-right: 6rem !important;
    }

    section.masthead-img .masthead-content{
        margin-left: 800px;
    }

    .little-text{
        font-size: 0.8em;
    }
}