body{
    font-family: 'Roboto Slab', serif;
}
.bg-white{
    background-color: #fff;
}

.bg-yellow{
    background-color: #f7b617;
}

.btn-yellow{
    background-color: #f7b617;
}

.titles{
    font-size: 1.5em;
}

.text{
    font-size: 1.2em;
}

.little-text{
    font-size: 1.1em;
}

.micro-text{
    font-size: 0.9em;
}
.btn-white{
    background-color: #fff;
}
.w-80{
    width: 80%;
}
.w-30{
    width: 30%!important;
}

.w-5{
    width: 8%;
}

.border-w{
    border: 3px solid white!important;
}

.w-40{
    width: 100%;
}

.form-w{
    width: 80%;
    border: 1px solid white;
    background-color: inherit;
    border-radius: 10px;
}

.list{
    list-style: none;
}

hr{
    color: #ffff;
    border: 1px solid;
}
header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background-image: url('../images/taxi.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

section.masthead {
  position: relative;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f7b617;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: scroll;
  background-size: cover;
}


section.masthead .masthead-content, footer.masthead .masthead-content {
  z-index: 1;
  position: relative;
  margin: 0 10px;
}

section.masthead-img {
  position: relative;
  overflow: hidden;
  padding-top: calc(5rem + 72px);
  padding-bottom: 5rem;
  background-image: url('../images/conduce.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

footer.masthead {
  position: relative;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #2b2b2b;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: scroll;
  background-size: cover;
}

